.filter_container {
    padding: 20px;
    background-color: #0593BF;
    margin-bottom: 15px;

    .fa-plus {
        margin-right: 5px;
    }

    .clear_Filter {
        margin-left: 10px;

    }
}